.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-side{
    background-color: lightblue;
    width: 100px;
}
.middle{
    background-color: lightpink;
    flex: 1;
}
.right-side{
    background-color: lightblue;
    width: 100px;
}
.side{
    position: fixed;
    background-color: aqua;
    height: 500px;
    width: 50px;
    display: flex;
    justify-content: center;
    
}